/* navbar.css */
.navbar {
    background-color: #070707;
    overflow: hidden;
    position: fixed; /* Add this line to set the position to fixed */
    top: 0; /* Add this line to position it at the top */
    left: 0; /* Add this line to position it at the left */
    width: 100%; /* Set the width to 100% to span the entire width of the screen */
    z-index: 1000;
  }

  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 10px;
  }
  
  .navbar a:hover {
    background-color: #3c9cf5;
  }
  .navbar-right {
    float: right;
  }
